.createBox {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: #495057;
  margin: 20px 20px 20px;
}

.register {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9ecef;
  margin-right: 10px;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}
input {
  flex: 1;
  display: flex;
  outline: none;
  border: 0;
  font-size: 21px;
  line-height: 22px;
  background-color: #495057;
  color: #ced4da;

  &::placeholder {
    color: #dee2e6;
  }
}
